extends ../layout/layout.pug
block vars
	- var title = 'Категории';
block header
	include ../includes/header.pug
block content
	include ../includes/content-categories.pug
block footer
	include ../includes/footer.pug