extends ../layout/layout.pug
block vars
	- var title = 'Мой бонусный счет';
block header
	include ../includes/header.pug
block content
	include ../includes/content-personal-bonus.pug
block footer
	include ../includes/footer.pug