extends ../layout/layout.pug
block vars
	- var title = 'Мои личные данные';
block header
	include ../includes/header.pug
block content
	include ../includes/content-personal-data.pug
block footer
	include ../includes/footer.pug