extends ../layout/layout.pug
block vars
	- var title = 'Профили доставки';
block header
	include ../includes/header.pug
block content
	include ../includes/content-personal-delivery.pug
block footer
	include ../includes/footer.pug