extends ../layout/layout.pug
block vars
	- var title = 'Мои избранные товары';
block header
	include ../includes/header.pug
block content
	include ../includes/content-personal-favorite.pug
block footer
	include ../includes/footer.pug