main.main
	.container 
		.section-text 
			ul 
				li
					a(href="main.html") Главная
				li
					a(href="catalog.html") Категория каталога
				li
					a(href="card.html") Карточка товара
				li
					a(href="cart.html") Корзина
				li
					a(href="order.html") Оформление заказа
				li
					a(href="personal.html") Личный кабинет
				//- li
				//- 	a(href="form5.html") Форма покупки ошибка чека
