main.main.main_other
	.container 
		.search-page
			.catalog__h1.h1 Поиск
				span.h1__count 8 товаров
			.search-page__center
				.search-page-form 
					form(action="")
						input.search-page-form__input(type="text" value="Бамбук" placeholder="Поиск") 
						input.search-page-form__button(type="submit" value="")
				.catalog-filtr
					.catalog-filtr__inner
						.catalog-filtr__mobile-title Фильтры
						.catalog-filtr__block.catalog-filtr__block_sort.catalog-filtr__block_full
							.catalog-filtr__name Сначала популярные 
								span.filtr-arrow.filtr-arrow-down
							.catalog-filtr__value
								a(href="") По возрастанию цены
								a(href="") По убыванию цены
						.catalog-filtr__inner.catalog-filtr__mobile-block
							.catalog-filtr__block
								.catalog-filtr__name Наши предложения
									span.filtr-arrow.filtr-arrow-down
								.catalog-filtr__value
									a(href="") Наши предложения
									a(href="") Наши предложения
							.catalog-filtr__block
								.catalog-filtr__name Цвет
									span.filtr-arrow.filtr-arrow-up
								.catalog-filtr__value
									+custom-checkbox('Зеленый')
									+custom-checkbox('Зеленый')
			.search-page__middle 
				.search-page__select-all 
					+custom-checkbox('Выбрать все')
				button.button В корзину
			.search-page__results 
				.catalog-horizontal-item 
					.catalog-horizontal-item__select 
						+custom-checkbox('')
					.catalog-horizontal-item__info
						.catalog-horizontal-item__img 
							a(href="").catalog-horizontal-item__img-link
								img(src="./img/product1.jpg" alt="")
						.catalog-horizontal-item__description 
							a(href="").catalog-horizontal-item__name Пепита Шанель роза антика ABC Cotton комплект
							.catalog-horizontal-item__availible Есть в наличии
					.catalog-horizontal-item__favorite 
						a.catalog-item__favorite.catalog-item__favorite_dark(href="")
				.catalog-horizontal-item 
					.catalog-horizontal-item__select 
						+custom-checkbox('')
					.catalog-horizontal-item__info
						.catalog-horizontal-item__img 
							a(href="").catalog-horizontal-item__img-link
								img(src="./img/product1.jpg" alt="")
						.catalog-horizontal-item__description 
							a(href="").catalog-horizontal-item__name Пепита Шанель роза антика ABC Cotton комплект
							.catalog-horizontal-item__availible Есть в наличии
					.catalog-horizontal-item__favorite 
						a.catalog-item__favorite.catalog-item__favorite_dark(href="")
				.catalog-horizontal-item 
					.catalog-horizontal-item__select 
						+custom-checkbox('')
					.catalog-horizontal-item__info
						.catalog-horizontal-item__img 
							a(href="").catalog-horizontal-item__img-link
								img(src="./img/product1.jpg" alt="")
						.catalog-horizontal-item__description 
							a(href="").catalog-horizontal-item__name Пепита Шанель роза антика ABC Cotton комплект
							.catalog-horizontal-item__availible Есть в наличии
					.catalog-horizontal-item__favorite 
						a.catalog-item__favorite.catalog-item__favorite_dark(href="")
				.catalog-horizontal-item 
					.catalog-horizontal-item__select 
						+custom-checkbox('')
					.catalog-horizontal-item__info
						.catalog-horizontal-item__img 
							a(href="").catalog-horizontal-item__img-link
								img(src="./img/product1.jpg" alt="")
						.catalog-horizontal-item__description 
							a(href="").catalog-horizontal-item__name Пепита Шанель роза антика ABC Cotton комплект
							.catalog-horizontal-item__availible Есть в наличии
					.catalog-horizontal-item__favorite 
						a.catalog-item__favorite.catalog-item__favorite_dark(href="")
				.catalog-horizontal-item 
					.catalog-horizontal-item__select 
						+custom-checkbox('')
					.catalog-horizontal-item__info
						.catalog-horizontal-item__img 
							a(href="").catalog-horizontal-item__img-link
								img(src="./img/product1.jpg" alt="")
						.catalog-horizontal-item__description 
							a(href="").catalog-horizontal-item__name Пепита Шанель роза антика ABC Cotton комплект
							.catalog-horizontal-item__availible Есть в наличии
					.catalog-horizontal-item__favorite 
						a.catalog-item__favorite.catalog-item__favorite_dark(href="")
				.catalog-horizontal-item 
					.catalog-horizontal-item__select 
						+custom-checkbox('')
					.catalog-horizontal-item__info
						.catalog-horizontal-item__img 
							a(href="").catalog-horizontal-item__img-link
								img(src="./img/product1.jpg" alt="")
						.catalog-horizontal-item__description 
							a(href="").catalog-horizontal-item__name Пепита Шанель роза антика ABC Cotton комплект
							.catalog-horizontal-item__availible Есть в наличии
					.catalog-horizontal-item__favorite 
						a.catalog-item__favorite.catalog-item__favorite_dark(href="")
				.catalog-horizontal-item 
					.catalog-horizontal-item__select 
						+custom-checkbox('')
					.catalog-horizontal-item__info
						.catalog-horizontal-item__img 
							a(href="").catalog-horizontal-item__img-link
								img(src="./img/product1.jpg" alt="")
						.catalog-horizontal-item__description 
							a(href="").catalog-horizontal-item__name Пепита Шанель роза антика ABC Cotton комплект
							.catalog-horizontal-item__availible Есть в наличии
					.catalog-horizontal-item__favorite 
						a.catalog-item__favorite.catalog-item__favorite_dark(href="")
				.catalog-horizontal-item 
					.catalog-horizontal-item__select 
						+custom-checkbox('')
					.catalog-horizontal-item__info
						.catalog-horizontal-item__img 
							a(href="").catalog-horizontal-item__img-link
								img(src="./img/product1.jpg" alt="")
						.catalog-horizontal-item__description 
							a(href="").catalog-horizontal-item__name Пепита Шанель роза антика ABC Cotton комплект
							.catalog-horizontal-item__availible Есть в наличии
					.catalog-horizontal-item__favorite 
						a.catalog-item__favorite.catalog-item__favorite_dark(href="")

