main.main
	.container 
		.section-text 
			ul 
				li
					a(href="main.html") Главная
				li
					a(href="categories.html") Категории
				li
					a(href="catalog.html") Категория с товарами
				li
					a(href="card.html") Карточка товара
				li
					a(href="cart.html") Корзина
				li
					a(href="order.html") Оформление заказа
				li
					a(href="personal.html") Личный кабинет
				li
					a(href="personal-data.html") Мои личные данные
				li
					a(href="personal-favorite.html") Мои избранные товары
				li
					a(href="personal-delivery.html") Профили доставки
				li
					a(href="personal-orders.html") Мои заказы
				li
					a(href="#one-click-popup" data-fancybox) Купить в 1 клик
				li
					a(href="personal-bonus.html") Мой бонусный счет
				li
					a(href="search.html") Поиск
				li
					a(href="contacts.html") Контакты


