main.main.main_other
	.container 
		.breadcrumbs 
			ul 
				li 
					a(href="") Главная
				li 
					span 
						<svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M6.34961 3.49988L0.704284 6.75921L0.704285 0.240548L6.34961 3.49988Z" fill="#1F1F1F" /></svg>
				li 
					span Каталог
		.catalog__h1.h1 Каталог
		.section-collections.section-collections_categories
			.section-collections__items.section-collections__items_four
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection1.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Постельное белье
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection2.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Пледы
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection3.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Покрывала
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection4.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Подушки
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection5.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Одеяла
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection6.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Детям
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection7.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Махровые изделия
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection8.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Скатерти и салфетки
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection9.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Аксессуары
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection9.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Товар дня
						a.button.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection9.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Постельные наборы
						a.button.section-collections__button(href="") Выбрать