main.main
	.section-main
		.swiper.section-main-slider
			.swiper-wrapper
				.swiper-slide
					.section-main-slider__slide 
						img(src="./img/top-img.jpg" alt="")
						.section-main-slider__desc 
							.section-main-slider__title Вдохновлённые весной
							.section-main-slider__text Комплекты постельного белья
							a.section-main-slider__button(href="") Купить
				.swiper-slide
					.section-main-slider__slide 
						img(src="./img/top-img.jpg" alt="")
						.section-main-slider__desc 
							.section-main-slider__title Махровые изделия
							.section-main-slider__text Махровые изделия
							a.section-main-slider__button(href="") Купить
				.swiper-slide
					.section-main-slider__slide 
						img(src="./img/top-img.jpg" alt="")
						.section-main-slider__desc 
							.section-main-slider__title Подушкии одеяла
							.section-main-slider__text Подушкии одеяла
							a.section-main-slider__button(href="") Купить
				.swiper-slide
					.section-main-slider__slide 
						img(src="./img/top-img.jpg" alt="")
						.section-main-slider__desc 
							.section-main-slider__title Товары дня
							.section-main-slider__text Товары дня
							a.section-main-slider__button(href="") Купить
			.swiper-pagination
		.section-main-thumbs 
			.section-main-thumbs__prev
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.921 25.6271L20.6766 16.3827L11.4323 25.6271L12.5876 26.7825L20.6766 18.6934L28.7657 26.7825L29.921 25.6271Z" fill="white" /></svg>
			.swiper.section-main-thumbs__slider(thumbsSlider="")
				.swiper-wrapper
					.swiper-slide
						.section-main-thumbs__slide 
							.section-main-thumbs__img 
								img(src="./img/icon1.png" alt="")
							.section-main-thumbs__text Постельное белье
					.swiper-slide
						.section-main-thumbs__slide 
							.section-main-thumbs__img 
								img(src="./img/icon2.png" alt="")
							.section-main-thumbs__text Махровые изделия
					.swiper-slide
						.section-main-thumbs__slide 
							.section-main-thumbs__img 
								img(src="./img/icon3.png" alt="")
							.section-main-thumbs__text Подушкии одеяла
					.swiper-slide
						.section-main-thumbs__slide 
							.section-main-thumbs__img 
								img(src="./img/icon4.png" alt="")
							.section-main-thumbs__text Товары дня
			.section-main-thumbs__next 
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M9.79798 14.8226L19.0424 24.067L28.2867 14.8226L27.1314 13.6672L19.0424 21.7563L10.9533 13.6672L9.79798 14.8226Z" fill="white" /></svg>
		
	.section-icons 
		.container 
			.section-icons__items 
				.section-icons__item(data-fancybox data-src="#popup-video1")
					.section-icons__img 
						img(src="./img/icon5.svg" alt="")
					.section-icons__name Собственное производство
					#popup-video1.popup-video
						.popup-video__inner
							.popup-video__desktop
								.ratio.ratio-16-9
									<video controls>
										<source src="./video/desktop.mp4" type="video/mp4">
									</video>
							.popup-video__mobile
								.ratio.ratio-4-5
									<video  controls>
										<source src="./video/mobile.mp4" type="video/mp4">
									</video>
							.popup-video__desc 
								.popup-video__name Собственное производство
								.popup-video__text В производстве мы применяем самые передовые технологии, и используем только материалы высочайшего качества. Вся наша продукция проходит контроль качества на всех этапах производства. 
				.section-icons__item(data-fancybox data-src="#popup-video1")
					.section-icons__img 
						img(src="./img/icon6.svg" alt="")
					.section-icons__name Подарочная упаковка
				.section-icons__item(data-fancybox data-src="#popup-video1")
					.section-icons__img 
						img(src="./img/icon7.svg" alt="")
					.section-icons__name Итальянское качество
				.section-icons__item(data-fancybox data-src="#popup-video1")
					.section-icons__img 
						img(src="./img/icon8.svg" alt="")
					.section-icons__name Широкий ассортимент:
				.section-icons__item(data-fancybox data-src="#popup-video1")
					.section-icons__img 
						img(src="./img/icon9.svg" alt="")
					.section-icons__name Доставка по всей России
	.section-collections 
		.container
			.section-collections__title Несравненные коллекции и великолепные дизайны домашнего текстиля от KAZANOV.A
			.section-collections__items 
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection1.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Комплекты для сна
						a.section-collections__button(href="") Выбрать
				.section-collections__item.section-collections__item_big
					.section-collections__img 
						img(src="./img/collection2.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Постельное белье
						a.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection3.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Одеяла
						a.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection4.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Подушки
						a.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection5.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Покрывала
						a.section-collections__button(href="") Выбрать

				.section-collections__item.section-collections__item_big
					.section-collections__img 
						img(src="./img/collection6.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Махровые изделия
						a.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection7.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Аксессуары
						a.section-collections__button(href="") Выбрать
				.section-collections__item.section-collections__item_big
					.section-collections__img 
						img(src="./img/collection8.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Новая коллекция
						a.section-collections__button(href="") Выбрать
				.section-collections__item
					.section-collections__img 
						img(src="./img/collection9.jpg" alt="")
					.section-collections__desc 
						.section-collections__name Пледы
						a.section-collections__button(href="") Выбрать

	.section-actions
		.container
			.section-actions__inner
				.section-actions__title Акции и скидки
				a.button.button-black.section-actions__button(href="") Перейти
	.section-catalog
		.container
			.catalog
				.catalog__title Хиты продаж
				.swiper.catalog-slider
					.swiper-wrapper
						.swiper-slide
							+catalog-item('product1.jpg','Аматти (капучино сапфир) (1)')
						.swiper-slide
							+catalog-item('product2.jpg','Камила (роза антика) (1)')
						.swiper-slide
							+catalog-item('product3.jpg','Касабланка (роза антика) (2)')
						.swiper-slide
							+catalog-item('product4.jpg','Касабланка (роза антика) (5)')
						.swiper-slide
							+catalog-item('product5.jpg','Касабланка (роза антика) (5)')
						//- .swiper-slide
						//- 	+catalog-item('product1.jpg','Аматти (капучино сапфир) (1)')
						//- .swiper-slide
						//- 	+catalog-item('product2.jpg','Камила (роза антика) (1)')
						//- .swiper-slide
						//- 	+catalog-item('product3.jpg','Касабланка (роза антика) (2)')
						//- .swiper-slide
						//- 	+catalog-item('product4.jpg','Касабланка (роза антика) (5)')
						//- .swiper-slide
						//- 	+catalog-item('product5.jpg','Касабланка (роза антика) (5)')
					.catalog-slider__buttons
						.catalog-slider__prev 
							<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20.5947" r="19.5" transform="rotate(180 20 20.5947)" stroke="#1F1F1F" /><path d="M12.767 20.029C12.4546 20.3415 12.4546 20.848 12.767 21.1604L17.8582 26.2516C18.1706 26.564 18.6771 26.564 18.9895 26.2516C19.302 25.9392 19.302 25.4326 18.9895 25.1202L14.4641 20.5947L18.9895 16.0692C19.302 15.7568 19.302 15.2503 18.9895 14.9379C18.6771 14.6255 18.1706 14.6255 17.8582 14.9379L12.767 20.029ZM26.666 19.7947H13.3327V21.3947H26.666V19.7947Z" fill="#1F1F1F" /></svg>
						.catalog-slider__next 
							<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19.5" transform="matrix(1 0 0 -1 0 40.0908)" stroke="#1F1F1F" /><path d="M27.233 19.5251C27.5454 19.8376 27.5454 20.3441 27.233 20.6565L22.1418 25.7477C21.8294 26.0601 21.3229 26.0601 21.0105 25.7477C20.698 25.4353 20.698 24.9287 21.0105 24.6163L25.5359 20.0908L21.0105 15.5653C20.698 15.2529 20.698 14.7464 21.0105 14.434C21.3229 14.1215 21.8294 14.1215 22.1418 14.434L27.233 19.5251ZM13.334 19.2908H26.6673V20.8908H13.334V19.2908Z" fill="#1F1F1F" /></svg>
					.swiper-pagination
	.section-bonuses
		.container
			a.section-bonuses__link(href="")
				<svg width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_b_125_2130)">
						<circle cx="47" cy="46.0908" r="40" fill="white" fill-opacity="0.2" />
						<circle cx="47" cy="46.0908" r="39" stroke="white" stroke-width="2" />
					</g>
					<path d="M38.1205 60.9998L38.1205 29.8229L65.1205 45.4113L38.1205 60.9998Z" stroke="white" stroke-width="2" />
					<defs>
						<filter id="filter0_b_125_2130" x="3" y="2.09082" width="88" height="88" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix" />
							<feGaussianBlur in="BackgroundImageFix" stdDeviation="2" />
							<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_125_2130" />
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_125_2130" result="shape" />
						</filter>
					</defs>
				</svg>
			.section-bonuses__inner
				.section-bonuses__title Привилегии от kazanova
				.section-bonuses__subtitle Ваши дополнительные скидки
				a.button.button-black.section-bonuses__button(href="") Получить скидку

	.section-ideas
		.container
			.section-ideas__top
				.section-ideas__top-left
					.section-ideas__title Идеи для подарков
					.section-ideas__subtitle Отличный способ сделать приятный сюрприз
				a.section-ideas__link(href="") Смотреть все идеи
			.section-ideas__slider 
				.swiper.section-ideas-slider
					.swiper-wrapper
						.swiper-slide
							.section-ideas__slide 
								.section-ideas__block 
									.section-ideas__name На День Рождения
									a.button.section-ideas__button(href="") Выбрать
								.section-ideas__img 
									img(src="./img/idea1.jpg" alt="")
						.swiper-slide
							.section-ideas__slide 
								.section-ideas__block 
									.section-ideas__name На свадьбу
									a.button.section-ideas__button(href="") Выбрать
								.section-ideas__img 
									img(src="./img/idea2.jpg" alt="")
						.swiper-slide
							.section-ideas__slide 
								.section-ideas__block 
									.section-ideas__name На Новый год
									a.button.section-ideas__button(href="") Выбрать
								.section-ideas__img 
									img(src="./img/idea3.jpg" alt="")
						.swiper-slide
							.section-ideas__slide 
								.section-ideas__block 
									.section-ideas__name На навоселье
									a.button.section-ideas__button(href="") Выбрать
								.section-ideas__img 
									img(src="./img/idea4.jpg" alt="")
						.swiper-slide
							.section-ideas__slide 
								.section-ideas__block 
									.section-ideas__name На День Рождения
									a.button.section-ideas__button(href="") Выбрать
								.section-ideas__img 
									img(src="./img/idea1.jpg" alt="")
						.swiper-slide
							.section-ideas__slide 
								.section-ideas__block 
									.section-ideas__name На свадьбу
									a.button.section-ideas__button(href="") Выбрать
								.section-ideas__img 
									img(src="./img/idea2.jpg" alt="")
						.swiper-slide
							.section-ideas__slide 
								.section-ideas__block 
									.section-ideas__name На Новый год
									a.button.section-ideas__button(href="") Выбрать
								.section-ideas__img 
									img(src="./img/idea3.jpg" alt="")
						.swiper-slide
							.section-ideas__slide 
								.section-ideas__block 
									.section-ideas__name На навоселье
									a.button.section-ideas__button(href="") Выбрать
								.section-ideas__img 
									img(src="./img/idea4.jpg" alt="")
					.section-ideas-slider__buttons
						.section-ideas-slider__prev 
							<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20.5947" r="19.5" transform="rotate(180 20 20.5947)" stroke="#1F1F1F" /><path d="M12.767 20.029C12.4546 20.3415 12.4546 20.848 12.767 21.1604L17.8582 26.2516C18.1706 26.564 18.6771 26.564 18.9895 26.2516C19.302 25.9392 19.302 25.4326 18.9895 25.1202L14.4641 20.5947L18.9895 16.0692C19.302 15.7568 19.302 15.2503 18.9895 14.9379C18.6771 14.6255 18.1706 14.6255 17.8582 14.9379L12.767 20.029ZM26.666 19.7947H13.3327V21.3947H26.666V19.7947Z" fill="#1F1F1F" /></svg>
						.section-ideas-slider__next 
							<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19.5" transform="matrix(1 0 0 -1 0 40.0908)" stroke="#1F1F1F" /><path d="M27.233 19.5251C27.5454 19.8376 27.5454 20.3441 27.233 20.6565L22.1418 25.7477C21.8294 26.0601 21.3229 26.0601 21.0105 25.7477C20.698 25.4353 20.698 24.9287 21.0105 24.6163L25.5359 20.0908L21.0105 15.5653C20.698 15.2529 20.698 14.7464 21.0105 14.434C21.3229 14.1215 21.8294 14.1215 22.1418 14.434L27.233 19.5251ZM13.334 19.2908H26.6673V20.8908H13.334V19.2908Z" fill="#1F1F1F" /></svg>
	.section-years 
		.section-years__inner 
			.section-years__left
				.section-years__text
					p Торговая марка «KAZANOV.A». узнаваема в России и представленаболее чем в 200 городах, в четырёх из которых мы имеем собственныеструктурные подразделения (г. Москва, г. Пятигорск, г. Краснодар).
					p Мы радуем своих покупателей текстилем высочайшего качества,т.к. применяем в производстве самые передовые технологии,только высококачественные материалы и наша продукция проходит контроль качества на всех этапах производства. Широкий спектрнаших комплектов удивит вас! У нас найдётся все: наборы для большойсемьи, деловых людей, и нежных девушек. Такого вы не видели ещё нигде!
				a.button.button-white(href="") Узнать больше
			.section-years__right 
				a.section-years__video(href="")
					img(src="./img/years-img1.jpg" alt="")
		.section-years__history
			.section-years__img 
				img(src="./img/years-img2.jpg" alt="")
			.section-years__slider 
				.swiper.section-years-slider
					.swiper-wrapper
						.swiper-slide
							.section-years__slide 
								.section-years__slide-year 1984–1986
								.section-years__slide-dot
								.section-years__slide-text Более 20 лет мы следуем современным тенденциям моды, производя домашний текстиль в лучших итальянских традициях на фабриках, оснащённых высокотехнологичным европейским оборудованием. Вся продукция изготавливается из экологически чистых материалов, что подтверждается сертификатами соответствия.
						.swiper-slide
							.section-years__slide 
								.section-years__slide-year 1986–1990
								.section-years__slide-dot
								.section-years__slide-text Более 20 лет мы следуем современным тенденциям моды, производя домашний текстиль в лучших итальянских традициях на фабриках, оснащённых высокотехнологичным европейским оборудованием. Вся продукция изготавливается из экологически чистых материалов, что подтверждается сертификатами соответствия.
						.swiper-slide
							.section-years__slide 
								.section-years__slide-year 1984–1986
								.section-years__slide-dot
								.section-years__slide-text Более 20 лет мы следуем современным тенденциям моды, производя домашний текстиль в лучших итальянских традициях на фабриках, оснащённых высокотехнологичным европейским оборудованием. Вся продукция изготавливается из экологически чистых материалов, что подтверждается сертификатами соответствия.
						.swiper-slide
							.section-years__slide 
								.section-years__slide-year 1986–1990
								.section-years__slide-dot
								.section-years__slide-text Более 20 лет мы следуем современным тенденциям моды, производя домашний текстиль в лучших итальянских традициях на фабриках, оснащённых высокотехнологичным европейским оборудованием. Вся продукция изготавливается из экологически чистых материалов, что подтверждается сертификатами соответствия.
					.section-years-slider__buttons
						.section-years-slider__prev
							<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19.5" transform="matrix(-1 0 0 1 40.5 0.980469)" stroke="#1F1F1F" /><path d="M13.2677 21.5462C12.9552 21.2337 12.9552 20.7272 13.2677 20.4148L18.3588 15.3236C18.6712 15.0112 19.1778 15.0112 19.4902 15.3236C19.8026 15.636 19.8026 16.1426 19.4902 16.455L14.9647 20.9805L19.4902 25.506C19.8026 25.8184 19.8026 26.3249 19.4902 26.6373C19.1778 26.9497 18.6712 26.9497 18.3588 26.6373L13.2677 21.5462ZM27.1667 21.7805H13.8333V20.1805H27.1667V21.7805Z" fill="#1F1F1F" /></svg>
						.section-years-slider__next
							<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20.5" cy="20.9805" r="19.5" stroke="#1F1F1F" /><path d="M27.732 21.5462C28.0444 21.2337 28.0444 20.7272 27.732 20.4148L22.6409 15.3236C22.3284 15.0112 21.8219 15.0112 21.5095 15.3236C21.1971 15.636 21.1971 16.1426 21.5095 16.455L26.035 20.9805L21.5095 25.506C21.1971 25.8184 21.1971 26.3249 21.5095 26.6373C21.8219 26.9497 22.3284 26.9497 22.6409 26.6373L27.732 21.5462ZM13.833 21.7805H27.1663V20.1805H13.833V21.7805Z" fill="#1F1F1F" /></svg>
