main.main.main_other
	.container 
		.breadcrumbs 
			ul 
				li 
					a(href="") Главная
				li 
					span 
						<svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M6.34961 3.49988L0.704284 6.75921L0.704285 0.240548L6.34961 3.49988Z" fill="#1F1F1F" /></svg>
				li 
					span Оформление заказа
		a.go-back(href="") В корзину
		h1.h1.h1_center Оформление заказа
		.cart-page 
			.cart-page__inner
				.cart-page__left 
					.order-form 
						form(action="" method="post")
							.order-form__block 
								.order-form__title Покупатель
								.order-form__grid.order-form__two-columns
									.form-block 
										label.form-block__label(for="") Ф.И.О.
											span.req *
										input.form-block__input(type="text" value="Александр Лисковас") 
									.form-block 
										label.form-block__label(for="") E-Mail
											span.req *
										input.form-block__input(type="email" value="al@liskovas.com") 
									.form-block 
										label.form-block__label(for="") Телефон
											span.req *
										input.form-block__input(type="tel" value="+ 7 (890) 623-95-53") 
								button.button.button-black() Продолжить
							.order-form__block 
								.order-form__title Способ доставки
								.order-form__grid.order-form__two-columns
									.form-block 
										label.custom-radio.custom-radio_delivery
											input.custom-radio__radio(type="radio" name="delivery")
											span.custom-radio__span
											span.custom-radio__label 
												.custom-radio__name Доставка курьером
												.custom-radio__cost 500 ₽
												.custom-radio__text Доставка осуществляется в течении дня в удобное для вас время
									.form-block 
										label.custom-radio.custom-radio_delivery
											input.custom-radio__radio(type="radio" name="delivery")
											span.custom-radio__span
											span.custom-radio__label 
												.custom-radio__name Самовывоз
												.custom-radio__cost Бесплатно
												.custom-radio__text Доставка осуществляется в течении дня в удобное для вас время
								.order-form__title Выберите адрес доставки
								.order-form__grid
									.form-block 
											label.form-block__label(for="") Адрес доставки
												span.req *
											input.form-block__input(type="text" value="") 
									.form-block 
											label.form-block__label(for="") Индекс
												span.req *
											input.form-block__input(type="text" value="") 
									.form-block 
											label.form-block__label(for="") Комментарий к заказу
												span.req *
											textarea.form-block__input.form-block__textarea 
								button.button.button-black() Продолжить
							.order-form__block 
								.order-form__title Способ оплаты
								.order-form__grid.order-form__two-columns
									.form-block 
										label.custom-radio.custom-radio_pay
											input.custom-radio__radio(type="radio" name="pay")
											span.custom-radio__span
											span.custom-radio__label 
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12C22 15.7712 22 17.6569 20.8284 18.8284C19.6569 20 17.7712 20 14 20H10C6.22876 20 4.34315 20 3.17157 18.8284C2 17.6569 2 15.7712 2 12Z" stroke="#1C274C" />  <path d="M10 16H6" stroke="#1C274C" stroke-linecap="round" />  <path d="M14 16H12.5" stroke="#1C274C" stroke-linecap="round" />  <path d="M2 10L22 10" stroke="#1C274C" stroke-linecap="round" /></svg>
												| Банковские карты
									.form-block 
										label.custom-radio.custom-radio_pay
											input.custom-radio__radio(type="radio" name="pay")
											span.custom-radio__span
											span.custom-radio__label 
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M17.4142 10.4142C18 9.82843 18 8.88562 18 7C18 5.11438 18 4.17157 17.4142 3.58579M17.4142 10.4142C16.8284 11 15.8856 11 14 11H10C8.11438 11 7.17157 11 6.58579 10.4142M17.4142 10.4142C17.4142 10.4142 17.4142 10.4142 17.4142 10.4142ZM17.4142 3.58579C16.8284 3 15.8856 3 14 3L10 3C8.11438 3 7.17157 3 6.58579 3.58579M17.4142 3.58579C17.4142 3.58579 17.4142 3.58579 17.4142 3.58579ZM6.58579 3.58579C6 4.17157 6 5.11438 6 7C6 8.88562 6 9.82843 6.58579 10.4142M6.58579 3.58579C6.58579 3.58579 6.58579 3.58579 6.58579 3.58579ZM6.58579 10.4142C6.58579 10.4142 6.58579 10.4142 6.58579 10.4142Z" stroke="#1F1F1F" />  <path d="M13 7C13 7.55228 12.5523 8 12 8C11.4477 8 11 7.55228 11 7C11 6.44772 11.4477 6 12 6C12.5523 6 13 6.44772 13 7Z" stroke="#1F1F1F" />  <path d="M18 6C16.3431 6 15 4.65685 15 3" stroke="#1F1F1F" stroke-linecap="round" />  <path d="M18 8C16.3431 8 15 9.34315 15 11" stroke="#1F1F1F" stroke-linecap="round" />  <path d="M6 6C7.65685 6 9 4.65685 9 3" stroke="#1F1F1F" stroke-linecap="round" />  <path d="M6 8C7.65685 8 9 9.34315 9 11" stroke="#1F1F1F" stroke-linecap="round" />  <path d="M5 20.3884H7.25993C8.27079 20.3884 9.29253 20.4937 10.2763 20.6964C12.0166 21.0549 13.8488 21.0983 15.6069 20.8138C16.4738 20.6734 17.326 20.4589 18.0975 20.0865C18.7939 19.7504 19.6469 19.2766 20.2199 18.7459C20.7921 18.216 21.388 17.3487 21.8109 16.6707C22.1736 16.0894 21.9982 15.3762 21.4245 14.943C20.7873 14.4619 19.8417 14.462 19.2046 14.9433L17.3974 16.3084C16.697 16.8375 15.932 17.3245 15.0206 17.4699C14.911 17.4874 14.7962 17.5033 14.6764 17.5172M14.6764 17.5172C14.6403 17.5214 14.6038 17.5254 14.5668 17.5292M14.6764 17.5172C14.8222 17.486 14.9669 17.396 15.1028 17.2775C15.746 16.7161 15.7866 15.77 15.2285 15.1431C15.0991 14.9977 14.9475 14.8764 14.7791 14.7759C11.9817 13.1074 7.62942 14.3782 5 16.2429M14.6764 17.5172C14.6399 17.525 14.6033 17.5292 14.5668 17.5292M14.5668 17.5292C14.0434 17.5829 13.4312 17.5968 12.7518 17.5326" stroke="#1F1F1F" stroke-linecap="round" /><rect x="2" y="14" width="3" height="8" rx="1.5" stroke="#1F1F1F" /></svg>
												| При получении
								button.button.button-black() Продолжить

				.cart-page__right
					.cart-total 
						.cart-total__header
							.cart-total__title Итого:
							.cart-total__price 5 132 ₽
						.cart-total__option
							.cart-total__option-name Товаров на:
							.cart-total__option-value 4 632 ₽
						.cart-total__option
							.cart-total__option-name Общий вес:
							.cart-total__option-value 3.2 кг
						.cart-total__option
							.cart-total__option-name Доставка:
							.cart-total__option-value 500 ₽
						.cart-total__option
							.cart-total__option-name Экономия:
							.cart-total__option-value.cart-total__option-value_green 1 158 ₽
						form.cart-total__promo(method="post" action="")
							input.cart-total__promo-input(type="text" placeholder="Есть промокод?")
							button.cart-total__promo-button(type="submit") 
								<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_706_1191)"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.7 5.70697L11.709 9.69196C11.5182 9.862 11.2696 9.95258 11.0142 9.94507C10.7588 9.93756 10.5159 9.83253 10.3355 9.65159C10.1551 9.47064 10.0507 9.2275 10.0439 8.97205C10.0372 8.7166 10.1284 8.46826 10.299 8.27799L12.576 5.99997H1C0.734784 5.99997 0.480444 5.8946 0.292908 5.70707C0.105371 5.51953 0 5.26519 0 4.99997C0 4.73476 0.105371 4.48042 0.292908 4.29288C0.480444 4.10535 0.734784 3.99997 1 3.99997H12.589L10.289 1.68998C10.1184 1.49971 10.0272 1.25136 10.0339 0.995916C10.0407 0.740468 10.1451 0.497298 10.3255 0.31635C10.5059 0.135402 10.7488 0.0304014 11.0042 0.0228931C11.2596 0.0153849 11.5082 0.105938 11.699 0.275975L15.69 4.29297C15.8788 4.47917 15.9859 4.73273 15.9878 4.9979C15.9897 5.26307 15.8862 5.51812 15.7 5.70697Z" fill="#1F1F1F" /></g><defs><clipPath id="clip0_706_1191"><rect width="16" height="10" fill="white" /></clipPath></defs></svg>
						.cart-total__option
							.cart-total__option-name Доставка:
							.cart-total__option-value Доставка курьером
						.cart-total__option
							.cart-total__option-name Оплата:
							.cart-total__option-value Яндекс.Деньги
						a.button.button-black.button_full(href="") ОФОРМИТЬ ЗАКАЗ
					