footer.footer
	.container
			.footer__top 
				.footer__inner 
					.footer__column 
						a.logo(href="index.html")
							img(src="./img/logo.svg" alt="")
						.footer__info
							a.footer__phone(href="tel:+7 495 984-77-78") +7 495 984-77-78
							a.footer__order-link(href="") заказать звонок
						.footer__info
							a.footer__email(href="mailto:info@kazanova-textil.ru") info@kazanova-textil.ru
							a.footer__order-link(href="") заказать звонок
					.footer__column 
						.footer-menu 
							.footer-menu__column 
								.footer-menu__caption Продукция
								.footer-menu__list
									+list-links('Постельное белье','Пледы','Покрывала','Подушки','Одеяла','Детям','Махровые изделия','Столовый текстиль','Аксессуары')
							.footer-menu__column 
								.footer-menu__caption О компании
								.footer-menu__list
									+list-links('События','Наши магазины','Контакты','Условия возврата','Публичная оферта')
							.footer-menu__column 
								.footer-menu__caption Розничным покупателям
								.footer-menu__list
									+list-links('Как купить','Скидки и акции','Бонусная программа','Подарочные сертификаты','Оплата и доставка')
							.footer-menu__column 
								.footer-menu__caption Оптовым покупателям
								.footer-menu__list
									+list-links('Условия сотрудничества','Дропшиппинг','Способ доставки','XML/CSV-выгрузка для интернет-магазинов')
					.footer__column 
						.footer__socials мы в соцсетях
						.socials 
							a(href="")
								<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.763672" width="40" height="40" rx="20" fill="white" /><path d="M20.9825 27.7637C13.466 27.7637 9.17864 22.5084 9 13.7637H12.7651C12.8888 20.1821 15.6646 22.9008 17.8632 23.4614V13.7637H21.4085V19.2992C23.5796 19.061 25.8607 16.5384 26.6302 13.7637H30.1755C29.8855 15.2027 29.3075 16.5653 28.4776 17.7662C27.6477 18.967 26.5837 19.9803 25.3523 20.7426C26.7269 21.4392 27.941 22.4252 28.9145 23.6354C29.888 24.8457 30.5988 26.2527 31 27.7637H27.0974C26.7373 26.4513 26.0054 25.2765 24.9934 24.3865C23.9814 23.4965 22.7343 22.9309 21.4085 22.7607V27.7637H20.9825Z" fill="#1F1F1F" /></svg>
							a(href="")
								<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.763672" width="40" height="40" rx="20" fill="white" /><path d="M26.2376 23.5565C26.7624 23.0318 26.8373 22.2822 26.3876 21.5326C26.0128 20.9329 25.3381 20.633 24.5885 20.7829C24.2887 20.8579 23.9888 21.0078 23.689 21.2327C21.3652 22.8069 18.2168 22.7319 15.893 21.1578C15.7431 21.0828 15.5932 21.0078 15.4433 20.9329C14.6187 20.5581 13.7941 20.708 13.3444 21.4576C12.8196 22.2072 12.8946 23.0318 13.5692 23.7064C13.7192 23.8564 13.8691 23.9313 13.944 24.0812L14.019 24.1562C15.0685 24.9808 16.3428 25.5055 17.9919 25.7304L17.0174 26.7049C16.1929 27.5294 15.2933 28.429 14.4688 29.2535C14.2439 29.4784 13.944 29.8532 13.944 30.378C13.944 31.0526 14.3188 31.7273 14.9935 32.0271C15.2184 32.177 15.4433 32.177 15.6681 32.177C16.0429 32.177 16.4927 32.0271 16.7926 31.6523C17.917 30.5279 18.8165 29.6283 19.716 28.7288C19.791 28.6539 19.791 28.6539 19.791 28.6539C19.791 28.6539 19.866 28.6539 19.866 28.7288C20.4656 29.4035 21.1403 30.0031 21.74 30.6778C22.0398 30.9776 22.3397 31.2775 22.6395 31.5773C23.0143 31.9521 23.3142 32.1021 23.7639 32.1021C24.4386 32.177 25.1882 31.7272 25.488 31.0526C25.7879 30.4529 25.638 29.7033 25.1132 29.2535C24.3636 28.5039 23.614 27.6794 22.7894 26.9297L21.5151 25.6554C22.1898 25.5805 22.9394 25.4305 23.614 25.1307C24.7384 24.7559 25.563 24.2312 26.2376 23.5565Z" fill="#1F1F1F" /><path d="M19.791 21.4576C23.0143 21.4576 25.638 18.9089 25.638 15.6856C25.638 14.1114 25.0383 12.6122 23.9138 11.4878C22.7894 10.3634 21.3652 9.76367 19.866 9.76367C16.6426 9.76367 14.094 12.3873 14.019 15.5357C14.019 17.1098 14.6187 18.5341 15.7431 19.6585C16.7926 20.8579 18.2168 21.4576 19.791 21.4576ZM18.1419 13.9615C18.5916 13.5117 19.1913 13.2868 19.791 13.2868C21.1403 13.2868 22.1148 14.3363 22.1148 15.6106C22.1148 16.9599 21.0653 17.9344 19.791 17.9344C18.4417 17.9344 17.4672 16.885 17.4672 15.6106C17.4672 15.0109 17.6921 14.4113 18.1419 13.9615Z" fill="#1F1F1F" /><path d="M26.2376 23.5565C26.7624 23.0318 26.8373 22.2822 26.3876 21.5326C26.0128 20.9329 25.3381 20.633 24.5885 20.7829C24.2887 20.8579 23.9888 21.0078 23.689 21.2327C21.3652 22.8069 18.2168 22.7319 15.893 21.1578C15.7431 21.0828 15.5932 21.0078 15.4433 20.9329C14.6187 20.5581 13.7941 20.708 13.3444 21.4576C12.8196 22.2072 12.8946 23.0318 13.5692 23.7064C13.7192 23.8564 13.8691 23.9313 13.944 24.0812L14.019 24.1562C15.0685 24.9808 16.3428 25.5055 17.9919 25.7304L17.0174 26.7049C16.1929 27.5294 15.2933 28.429 14.4688 29.2535C14.2439 29.4784 13.944 29.8532 13.944 30.378C13.944 31.0526 14.3188 31.7273 14.9935 32.0271C15.2184 32.177 15.4433 32.177 15.6681 32.177C16.0429 32.177 16.4927 32.0271 16.7926 31.6523C17.917 30.5279 18.8165 29.6283 19.716 28.7288C19.791 28.6539 19.791 28.6539 19.791 28.6539C19.791 28.6539 19.866 28.6539 19.866 28.7288C20.4656 29.4035 21.1403 30.0031 21.74 30.6778C22.0398 30.9776 22.3397 31.2775 22.6395 31.5773C23.0143 31.9521 23.3142 32.1021 23.7639 32.1021C24.4386 32.177 25.1882 31.7272 25.488 31.0526C25.7879 30.4529 25.638 29.7033 25.1132 29.2535C24.3636 28.5039 23.614 27.6794 22.7894 26.9297L21.5151 25.6554C22.1898 25.5805 22.9394 25.4305 23.614 25.1307C24.7384 24.7559 25.563 24.2312 26.2376 23.5565Z" fill="#1F1F1F" /></svg>
							a(href="")
								<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.763672" width="40" height="40" rx="20" fill="white" /><path fill-rule="evenodd" clip-rule="evenodd" d="M11.2625 27.8205C10.8702 27.7044 10.5123 27.498 10.219 27.2185C9.9256 26.9391 9.7054 26.5949 9.57695 26.2149C8.84292 24.251 8.62543 16.0506 10.0391 14.4317C10.5096 13.9051 11.1739 13.5809 11.8878 13.5294C15.6802 13.1314 27.3975 13.1844 28.7432 13.6621C29.1217 13.782 29.4675 13.9839 29.7547 14.2528C30.0419 14.5217 30.263 14.8505 30.4015 15.2146C31.2035 17.2448 31.2307 24.6226 30.2928 26.5732C30.044 27.0809 29.6275 27.4922 29.1102 27.7409C27.6965 28.4309 13.1383 28.4176 11.2625 27.8205ZM17.2842 23.9724L24.0808 20.5224L17.2842 17.0458V23.9724Z" fill="#1F1F1F" /></svg>
			.footer__bottom 
				.footer__copyright © 2024 kazanov.a. Все права защищены
				.footer__links 
					a(href="") Политика конфиденциальности
					a(href="") Пользовательское соглашение
		
			//- .footer__left 
			//- 	a.footer__phone(href="tel:8 (383) 319-54-64") 8 (383) 319-54-64
			//- 	a.footer__link(href="") Правила акции
			//- 	a.footer__link(href="") Победители
			//- 	a.footer__link(href="") Призы
			//- .footer__right БИНГРЭ.РФ © 2024
#login-popup.popup 
	.popup-tabs.tabs
		ul
			li Покупатель
			li Оптовый покупатель
		div
			div 
				.login-form
					.login-form__step1
						.login-form__title Вход в личный кабинет оптового покупателя
						form.form(action="") 
							.form__block
								label.form__label На указанный вами номер поступит звонок. Ответьте на него, и робот продиктует вам Ваш код доступа.
								input.form__input.input-tel(type="tel" placeholder="+7")
							button.button.button_full.button-get-code(type="submit") Получить код
							.form__small-text Нажимая кнопку "получить код", Вы соглашаетесь с политикой конфиденциальности.
					.login-form__step2.hide
						.login-form__title Введите код,<br>продиктованный роботом
						form.form(action="") 
							.form__block
								input.form__input.input-code(type="tel" placeholder="Код")
								.form__error-text Неверный код
							button.button.button_full.button-check-code(type="submit") Войти
							.form__small-text Если звонок не поступил в течение двух минут, проверьте правильность введенного номера: и закажите повторный звонок.
							.form__timer 
								a.form__timer-text(href="") Заказать повторный звонок
								.form__timer-counter
									img(src="./img/timer.svg" alt="")
									span 120
			div
				.login-form 
					.login-form__title Вход в Личный кабинет оптового покупателя
					.form__small-text Ожидайте СМС на номер телефона, если СМС не поступит в течение двух минут, вы сможете заказать код повторно
					form.form(action="") 
						.form__block
							label.form__label Номер телефона
							input.form__input(type="text" placeholder="Код")
						.form__block
							+custom-checkbox-agree('Согласен с политикой обработки персональных данных')
						button.button.button_full(type="submit") Зарегистрироваться
#card-popup.card-popup 
	.card-popup__inner 
		.card-popup__img 
			.swiper.card-popup-slider
				.swiper-wrapper
					.swiper-slide
						.catalog-item__img-inner
							img(src='./img/product-big.jpg' alt='')
					.swiper-slide
						.catalog-item__img-inner
							img(src='./img/product-big.jpg' alt='')
					.swiper-slide
						.catalog-item__img-inner
							img(src='./img/product-big.jpg' alt='')
				//- .catalog-slider__buttons
				//- 		.catalog-slider__prev 
				//- 			<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20.5947" r="19.5" transform="rotate(180 20 20.5947)" stroke="#1F1F1F" /><path d="M12.767 20.029C12.4546 20.3415 12.4546 20.848 12.767 21.1604L17.8582 26.2516C18.1706 26.564 18.6771 26.564 18.9895 26.2516C19.302 25.9392 19.302 25.4326 18.9895 25.1202L14.4641 20.5947L18.9895 16.0692C19.302 15.7568 19.302 15.2503 18.9895 14.9379C18.6771 14.6255 18.1706 14.6255 17.8582 14.9379L12.767 20.029ZM26.666 19.7947H13.3327V21.3947H26.666V19.7947Z" fill="#1F1F1F" /></svg>
				//- 		.catalog-slider__next 
				//- 			<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19.5" transform="matrix(1 0 0 -1 0 40.0908)" stroke="#1F1F1F" /><path d="M27.233 19.5251C27.5454 19.8376 27.5454 20.3441 27.233 20.6565L22.1418 25.7477C21.8294 26.0601 21.3229 26.0601 21.0105 25.7477C20.698 25.4353 20.698 24.9287 21.0105 24.6163L25.5359 20.0908L21.0105 15.5653C20.698 15.2529 20.698 14.7464 21.0105 14.434C21.3229 14.1215 21.8294 14.1215 22.1418 14.434L27.233 19.5251ZM13.334 19.2908H26.6673V20.8908H13.334V19.2908Z" fill="#1F1F1F" /></svg>
				.card-popup-slider__prev
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" transform="matrix(1 0 0 -1 0 40)" fill="white"></circle><path d="M12.767 20.029C12.4546 20.3415 12.4546 20.848 12.767 21.1604L17.8582 26.2516C18.1706 26.564 18.6771 26.564 18.9895 26.2516C19.302 25.9392 19.302 25.4326 18.9895 25.1202L14.4641 20.5947L18.9895 16.0692C19.302 15.7568 19.302 15.2503 18.9895 14.9379C18.6771 14.6255 18.1706 14.6255 17.8582 14.9379L12.767 20.029ZM26.666 19.7947H13.3327V21.3947H26.666V19.7947Z" fill="#1F1F1F"></path></svg>
				.card-popup-slider__next
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" transform="matrix(1 0 0 -1 0 40)" fill="white"></circle><path d="M27.233 19.4343C27.5454 19.7467 27.5454 20.2533 27.233 20.5657L22.1418 25.6569C21.8294 25.9693 21.3229 25.9693 21.0105 25.6569C20.698 25.3444 20.698 24.8379 21.0105 24.5255L25.5359 20L21.0105 15.4745C20.698 15.1621 20.698 14.6556 21.0105 14.3431C21.3229 14.0307 21.8294 14.0307 22.1418 14.3431L27.233 19.4343ZM13.334 19.2H26.6673V20.8H13.334V19.2Z" fill="#1F1F1F"></path></svg>
				.swiper-pagination
		.card-popup__desc 
			.card-popup__name Колибри аметист/графит
			.card-popup__prices 
				.card-popup__old-price 15 000 ₽
				.card-popup__price 10 000 ₽
			.card-popup__buttons 
				button.button.button-black Купить
				button.button Купить в 1 клик
			.card-popup__params 
				.card-popup__params-title Характеристики
				.card-popup__params-block 
					.card-popup__params-name Размер:
					.card-popup__params-value Семейный
				.card-popup__params-block 
					.card-popup__params-name Комплектация:
					.card-popup__params-value Пододеяльник: 155х210cм(2шт), Простынь: 230х250см(1шт), Наволочки: 50х70см(2шт), 70х70см(2шт)
				.card-popup__params-block 
					.card-popup__params-name Ткань:
					.card-popup__params-value Сатин/Велюр
				.card-popup__params-block 
					.card-popup__params-name Состав:
					.card-popup__params-value 100% Хлопок - простынь и наволочки 50х70, 50% Хлопок 50% Велюр - пододеяльник и наволочки 70х70
				.card-popup__params-block 
					.card-popup__params-name Цвет:
					.card-popup__params-value фиолетовый/графит
			a.button.button_full(href="") Смотреть подробнее

#one-click-popup.one-click-popup
		.one-click-popup__title Купить в 1 клик
		.one-click-popup__form
			form.form
				.form__block
					input.form__input(type="text" value="" name="" placeholder="ФИО *")
				.form__block
					input.form__input(type="tel" value="" name="" placeholder="Телефон *")
				.form__block
					input.form__input(type="email" value="" name="" placeholder="Email *")
				.form__block
					textarea.form__textarea(placeholder="Комментарий к заказу")
				.form__block
					+custom-checkbox-agree('Согласен с политикой обработки персональных данных')
				.form__block.form-info-delivery
					.form-info-delivery__name Стоимость доставки
					.form-info-delivery__text текст про стоимость доставки текст про стоимость доставки текст про стоимость доставки
				button.button.button_full(type="submit")  Отправить


