footer.footer
	.container
			.footer__top 
				.footer__inner 
					.footer__column 
						a.logo(href="index.html")
							img(src="./img/logo.svg" alt="")
						.footer__info
							a.footer__phone(href="tel:+7 495 984-77-78") +7 495 984-77-78
							a.footer__order-link(href="") заказать звонок
						.footer__info
							a.footer__email(href="mailto:info@kazanova-textil.ru") info@kazanova-textil.ru
							a.footer__order-link(href="") заказать звонок
					.footer__column 
						.footer-menu 
							.footer-menu__column 
								.footer-menu__caption Продукция
								.footer-menu__list
									+list-links('Постельное белье','Пледы','Покрывала','Подушки','Одеяла','Детям','Махровые изделия','Столовый текстиль','Аксессуары')
							.footer-menu__column 
								.footer-menu__caption О компании
								.footer-menu__list
									+list-links('События','Наши магазины','Контакты','Условия возврата','Публичная оферта')
							.footer-menu__column 
								.footer-menu__caption Розничным покупателям
								.footer-menu__list
									+list-links('Как купить','Скидки и акции','Бонусная программа','Подарочные сертификаты','Оплата и доставка')
							.footer-menu__column 
								.footer-menu__caption Оптовым покупателям
								.footer-menu__list
									+list-links('Условия сотрудничества','Дропшиппинг','Способ доставки','XML/CSV-выгрузка для интернет-магазинов')
					.footer__column 
						.footer__socials мы в соцсетях
						.socials 
							a(href="")
								<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.763672" width="40" height="40" rx="20" fill="white" /><path d="M20.9825 27.7637C13.466 27.7637 9.17864 22.5084 9 13.7637H12.7651C12.8888 20.1821 15.6646 22.9008 17.8632 23.4614V13.7637H21.4085V19.2992C23.5796 19.061 25.8607 16.5384 26.6302 13.7637H30.1755C29.8855 15.2027 29.3075 16.5653 28.4776 17.7662C27.6477 18.967 26.5837 19.9803 25.3523 20.7426C26.7269 21.4392 27.941 22.4252 28.9145 23.6354C29.888 24.8457 30.5988 26.2527 31 27.7637H27.0974C26.7373 26.4513 26.0054 25.2765 24.9934 24.3865C23.9814 23.4965 22.7343 22.9309 21.4085 22.7607V27.7637H20.9825Z" fill="#1F1F1F" /></svg>
							a(href="")
								<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.763672" width="40" height="40" rx="20" fill="white" /><path d="M26.2376 23.5565C26.7624 23.0318 26.8373 22.2822 26.3876 21.5326C26.0128 20.9329 25.3381 20.633 24.5885 20.7829C24.2887 20.8579 23.9888 21.0078 23.689 21.2327C21.3652 22.8069 18.2168 22.7319 15.893 21.1578C15.7431 21.0828 15.5932 21.0078 15.4433 20.9329C14.6187 20.5581 13.7941 20.708 13.3444 21.4576C12.8196 22.2072 12.8946 23.0318 13.5692 23.7064C13.7192 23.8564 13.8691 23.9313 13.944 24.0812L14.019 24.1562C15.0685 24.9808 16.3428 25.5055 17.9919 25.7304L17.0174 26.7049C16.1929 27.5294 15.2933 28.429 14.4688 29.2535C14.2439 29.4784 13.944 29.8532 13.944 30.378C13.944 31.0526 14.3188 31.7273 14.9935 32.0271C15.2184 32.177 15.4433 32.177 15.6681 32.177C16.0429 32.177 16.4927 32.0271 16.7926 31.6523C17.917 30.5279 18.8165 29.6283 19.716 28.7288C19.791 28.6539 19.791 28.6539 19.791 28.6539C19.791 28.6539 19.866 28.6539 19.866 28.7288C20.4656 29.4035 21.1403 30.0031 21.74 30.6778C22.0398 30.9776 22.3397 31.2775 22.6395 31.5773C23.0143 31.9521 23.3142 32.1021 23.7639 32.1021C24.4386 32.177 25.1882 31.7272 25.488 31.0526C25.7879 30.4529 25.638 29.7033 25.1132 29.2535C24.3636 28.5039 23.614 27.6794 22.7894 26.9297L21.5151 25.6554C22.1898 25.5805 22.9394 25.4305 23.614 25.1307C24.7384 24.7559 25.563 24.2312 26.2376 23.5565Z" fill="#1F1F1F" /><path d="M19.791 21.4576C23.0143 21.4576 25.638 18.9089 25.638 15.6856C25.638 14.1114 25.0383 12.6122 23.9138 11.4878C22.7894 10.3634 21.3652 9.76367 19.866 9.76367C16.6426 9.76367 14.094 12.3873 14.019 15.5357C14.019 17.1098 14.6187 18.5341 15.7431 19.6585C16.7926 20.8579 18.2168 21.4576 19.791 21.4576ZM18.1419 13.9615C18.5916 13.5117 19.1913 13.2868 19.791 13.2868C21.1403 13.2868 22.1148 14.3363 22.1148 15.6106C22.1148 16.9599 21.0653 17.9344 19.791 17.9344C18.4417 17.9344 17.4672 16.885 17.4672 15.6106C17.4672 15.0109 17.6921 14.4113 18.1419 13.9615Z" fill="#1F1F1F" /><path d="M26.2376 23.5565C26.7624 23.0318 26.8373 22.2822 26.3876 21.5326C26.0128 20.9329 25.3381 20.633 24.5885 20.7829C24.2887 20.8579 23.9888 21.0078 23.689 21.2327C21.3652 22.8069 18.2168 22.7319 15.893 21.1578C15.7431 21.0828 15.5932 21.0078 15.4433 20.9329C14.6187 20.5581 13.7941 20.708 13.3444 21.4576C12.8196 22.2072 12.8946 23.0318 13.5692 23.7064C13.7192 23.8564 13.8691 23.9313 13.944 24.0812L14.019 24.1562C15.0685 24.9808 16.3428 25.5055 17.9919 25.7304L17.0174 26.7049C16.1929 27.5294 15.2933 28.429 14.4688 29.2535C14.2439 29.4784 13.944 29.8532 13.944 30.378C13.944 31.0526 14.3188 31.7273 14.9935 32.0271C15.2184 32.177 15.4433 32.177 15.6681 32.177C16.0429 32.177 16.4927 32.0271 16.7926 31.6523C17.917 30.5279 18.8165 29.6283 19.716 28.7288C19.791 28.6539 19.791 28.6539 19.791 28.6539C19.791 28.6539 19.866 28.6539 19.866 28.7288C20.4656 29.4035 21.1403 30.0031 21.74 30.6778C22.0398 30.9776 22.3397 31.2775 22.6395 31.5773C23.0143 31.9521 23.3142 32.1021 23.7639 32.1021C24.4386 32.177 25.1882 31.7272 25.488 31.0526C25.7879 30.4529 25.638 29.7033 25.1132 29.2535C24.3636 28.5039 23.614 27.6794 22.7894 26.9297L21.5151 25.6554C22.1898 25.5805 22.9394 25.4305 23.614 25.1307C24.7384 24.7559 25.563 24.2312 26.2376 23.5565Z" fill="#1F1F1F" /></svg>
							a(href="")
								<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.763672" width="40" height="40" rx="20" fill="white" /><path fill-rule="evenodd" clip-rule="evenodd" d="M11.2625 27.8205C10.8702 27.7044 10.5123 27.498 10.219 27.2185C9.9256 26.9391 9.7054 26.5949 9.57695 26.2149C8.84292 24.251 8.62543 16.0506 10.0391 14.4317C10.5096 13.9051 11.1739 13.5809 11.8878 13.5294C15.6802 13.1314 27.3975 13.1844 28.7432 13.6621C29.1217 13.782 29.4675 13.9839 29.7547 14.2528C30.0419 14.5217 30.263 14.8505 30.4015 15.2146C31.2035 17.2448 31.2307 24.6226 30.2928 26.5732C30.044 27.0809 29.6275 27.4922 29.1102 27.7409C27.6965 28.4309 13.1383 28.4176 11.2625 27.8205ZM17.2842 23.9724L24.0808 20.5224L17.2842 17.0458V23.9724Z" fill="#1F1F1F" /></svg>
			.footer__bottom 
				.footer__copyright © 2024 kazanov.a. Все права защищены
				.footer__links 
					a(href="") Политика конфиденциальности
					a(href="") Пользовательское соглашение
		
			//- .footer__left 
			//- 	a.footer__phone(href="tel:8 (383) 319-54-64") 8 (383) 319-54-64
			//- 	a.footer__link(href="") Правила акции
			//- 	a.footer__link(href="") Победители
			//- 	a.footer__link(href="") Призы
			//- .footer__right БИНГРЭ.РФ © 2024
#login-popup.popup 
	.popup-tabs.tabs
		ul
			li Покупатель
			li Оптовый покупатель
		div
			div 
				.login-form 
					.login-form__title Вход в Личный кабинет
					form.form(action="") 
						.form__block
							label.form__label Номер телефона
							input.form__input.input-tel(type="tel" placeholder="+7")
							.form__small-text на указанный номер поступит СМС с кодом доступа
						button.button.button_full(type="submit") Получить код
			div
				.login-form 
					.login-form__title Вход в Личный кабинет оптового покупателя
					.form__small-text Ожидайте СМС на номер телефона, если СМС не поступит в течение двух минут, вы сможете заказать код повторно
					form.form(action="") 
						.form__block
							label.form__label Номер телефона
							input.form__input(type="text" placeholder="Код")
						.form__block
							+custom-checkbox-agree('Согласен с политикой обработки персональных данных')
						button.button.button_full(type="submit") Зарегистрироваться

//- #about-popup.white-popup.mfp-hide
//- 	.popup 
//- 		.popup__columns
//- 			.popup__column-left
//- 				.popup__logo
//- 					img(src="./img/popup-logo.png" alt="")
//- 				.popup__grey-block 100% акций принадлежат Фонду «Жилищное и социальное строительство Калининградской области»
//- 			.popup__column
//- 				.popup__title Общество с ограниченной ответственностью Специализированный застройщик «535-СТРОЙ»
//- 				.popup__text 
//- 					p С сентября 2003 года Фонд является региональным оператором АО «Агентство по ипотечному жилищному кредитованию» (с 2018г. — ДОМ.РФ). С 2004 года Фонд активно участвует в формировании долгосрочного ипотечного жилищного кредитования в Калининградской области. Свыше 4000 Калининградских семей воспользовались ипотечными продуктами с помощью Фонда «ЖСС КО» и улучшили свои жилищные условия.
//- 					p Как застройщик Фонд «ЖСС КО» осуществил строительство 17 многоквартирных жилых домов общей жилой площадь более 70 000 кв.м. в Калининграде и городах области: Гурьевске, Светлогорске, Балтийске, Пионерском, Мамоново, Светлом, Гвардейске, Правдинске. Кроме того, по поручению Правительства Калининградской области Фонд в период с 2009 занимается реализацией регионального механизма поддержки застройщиков, завершению строительства объектов, признанных проблемными, и решению вопросов по обеспечению жильём обманутых дольщиков, выполняя функции инвестора и технического заказчика.
//- #order-popup.white-popup.mfp-hide
	.popup 
		.popup__title Заказать
		.popup__text Наш специалист свяжется с вами в ближайшее время.
		.popup__form
			form.form
				.form__input-block
					input.form__input(type="text" value="" name="")
					label.form__label ФИО *
				.form__input-block
					input.form__input(type="tel" value="" name="")
					label.form__label Телефон *
				.form__input-block
					input.form__input(type="email" value="" name="")
					label.form__label Email *
				.form__input-block
					input.form__input(type="text" value="" name="")
					label.form__label “Телятина и баранина» кусочки мяса в соусе”
				.form__textarea-block
					textarea.form__textarea
					label.form__label Комментарий
				.form__agree
					+custom-checkbox-agree('Я прочитал и принимаю условия Политики конфиденциальности и Правил обработки персональных данных')
				button.button.button_full.form__submit.open-popup-link(type="submit" data-mfp-src="#thanks-popup") ЗАКАЗАТЬ


