
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet")
//- link(rel="stylesheet" href="./libs/css/magnific-popup.css")
//- link(rel="stylesheet" href="./libs/css/hamburgers.css")
link(rel="stylesheet" href="./libs/slick/slick.css")
link(rel="stylesheet" href="./libs/fancybox/fancybox.css")
link(rel="stylesheet" href="./libs/swiper/swiper-bundle.min.css")
link(rel="stylesheet" href="./css/all.css")
