.footer {
  position: relative;
  background: #1f1f1f;
  margin-top: 10rem;
  .socials {
    gap: 1rem;
  }
  @media (max-width: $breakpoint-tablet) {
    margin-top: 3rem;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      gap: 0rem;
    }
  }
  &__column {
    @media (max-width: $breakpoint-tablet) {
      &:nth-child(2) {
        order: -1;
      }
    }
    .logo {
      margin-bottom: 5.8rem;
      @media (max-width: $breakpoint-tablet) {
        margin-bottom: 3rem;
        width: 100%;
        @include flexcc;
        margin-top: 3rem;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 2rem;
  }
  &__socials {
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #f2f2f2;
    font-family: $font-second;
    margin-bottom: 0.9rem;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  &__phone,
  &__email {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 111%;
    color: #f2f2f2;
    display: block;
    font-family: $font-third;
  }
  &__order-link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 128%;
    color: #fff;
    display: block;
    font-family: $font-third;
    @include tr;
    &:hover {
      text-decoration: underline;
    }
  }
  &__top {
    padding-top: 5rem;
    padding-bottom: 4.5rem;
    @media (max-width: $breakpoint-tablet) {
      padding-top: 1.6rem;
      padding-bottom: 0;
    }
  }
  &__column {
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
  &__bottom {
    padding-top: 2.6rem;
    padding-bottom: 3.2rem;
    border-top: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 7rem;
      border-top: 0;
    }
  }
  &__copyright {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 125%;
    color: #f2f2f2;
    opacity: 0.9;
    font-family: $font-third;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.4rem;
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.6rem;
    a {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 143%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #f2f2f2;
      opacity: 0.6;
      @include tr;
      font-family: $font-third;
      &:hover {
        text-decoration: none;
      }
    }
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  &-menu {
    display: flex;
    align-items: flex-start;
    gap: 6.6rem;

    @media (max-width: 1440px) {
      gap: 4rem;
    }
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      gap: 0;
    }
    &__column {
      max-width: 27.8rem;
      @media (max-width: $breakpoint-tablet) {
        max-width: 100%;
        width: 100%;

        &:not(:first-child) {
          padding-top: 1.6rem;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #b5b3b3;
          padding-bottom: 1.6rem;
        }
      }
    }
    &__caption {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 100%;
      color: #f2f2f2;
      font-family: $font-second;
      @media (max-width: $breakpoint-tablet) {
        font-size: 2rem;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          background-image: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12.7637" r="10" stroke="white" stroke-width="0.5" /><path d="M15 14.2637L12 11.2637L9 14.2637" stroke="white" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" /></svg>');
          @include bg-img;
          position: absolute;
          top: 0;
          right: 0;
          @include tr;
          transform: rotate(180deg);
          .open-list & {
            transform: rotate(0deg);
          }
        }
      }
    }
    &__list {
      margin-top: 1.4rem;
      @media (max-width: $breakpoint-tablet) {
        display: none;
        .open-list & {
          display: block;
        }
      }
      ul {
        @include ul-clean;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 111%;
          color: #f2f2f2;

          a {
            text-decoration: none;
            @include tr;
            font-family: $font-third;
            opacity: 0.9;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
