.section-main {
  margin-top: -12rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
  @media (max-width: $breakpoint-tablet) {
    margin-top: -8rem;
    margin-bottom: 0;
  }
}
.section-main-slider {
  &__slide {
    width: 100%;
    // height: 108rem;
    height: 100vh;
    position: relative;
    @media (max-width: $breakpoint-tablet) {
      height: 73rem;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background: url(../img/shadow.png) top left no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }
    // .container {
    //   position: relative;
    //   display: flex;
    //   align-items: flex-end;
    // }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: absolute;
    bottom: 10rem;
    left: 4rem;
    z-index: 3;
    @media (max-width: $breakpoint-tablet) {
      left: 1.5rem;
      right: 1.5rem;
      bottom: auto;
      top: 11rem;
      align-items: center;
      width: calc(100% - 3rem);
      gap: 2rem;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 6.2rem;
    line-height: 90%;
    letter-spacing: 0.02em;
    color: #fff;
    font-family: $font-second;
    max-width: 67.6rem;
    @media (max-width: $breakpoint-tablet) {
      font-size: 3.2rem;
      text-align: center;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    color: #fff;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.4rem;
    }
  }
  &__button {
    height: 4rem;
    width: 21.5rem;
    @include flexcc;
    border: 2px solid #f2f2f2;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    @include tr;
    &:hover {
      background: #fff;
      color: $color-text-dark;
    }
    @media (max-width: $breakpoint-tablet) {
      height: 3.4rem;
      backdrop-filter: blur(2rem);
      background: rgba(0, 0, 0, 0.3);
      width: 16rem;
      font-size: 1.4rem;
      border-width: 1px;
    }
  }
  .swiper-pagination {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 8.5rem;
    z-index: 1;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    border-radius: 100%;
    width: 0.5rem;
    height: 0.5rem;
    background: #d9d9d9;
    opacity: 1;
    @include tr;
    margin: 0 !important;
  }
  .swiper-pagination-bullet-active {
    width: 1rem;
    height: 1rem;
    background: #d9d9d9;
    opacity: 1;
  }
}
.section-main-thumbs {
  position: absolute;
  right: 4rem;
  bottom: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media (max-width: $breakpoint-tablet) {
    right: 0;
    bottom: 2rem;
    left: 1.6rem;
    padding: 0;
  }
  .swiper-wrapper {
    height: 55.8rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    @media (max-width: 1599px) {
      height: 37.4rem;
    }
    @media (max-width: $breakpoint-tablet) {
      height: auto;
      margin-top: 0rem;
      margin-bottom: 0rem;
      .swiper-slide {
        width: 15.8rem;
      }
    }
  }
  &__slide {
    backdrop-filter: blur(0.6rem);
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #f2f2f2;
    border-radius: 0.5rem;
    width: 26.3rem;
    height: 17.2rem;
    display: flex;
    gap: 2rem;
    padding: 3rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @media (max-width: $breakpoint-tablet) {
      width: 15.8rem;
      height: 6.4rem;
      border: 1px solid #f2f2f2;
      border-radius: 0;
      padding: 1.5rem;
      gap: 1rem;
      margin: 0;
    }
  }
  &__img {
    flex: none;
    max-width: 7.2rem;
    height: 7.2rem;
    @include flexcc;
    @media (max-width: $breakpoint-tablet) {
      max-width: 3.4rem;
      height: 3.4rem;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    color: #fff;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.4rem;
    }
  }
  &__prev,
  &__next {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2rem;
    z-index: 2;
    cursor: pointer;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  &__next {
    top: auto;
    bottom: 0;
  }
}
.section-icons {
  margin-bottom: 6rem;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 2rem;
    .container {
      padding-left: 0.5rem;
      padding-right: 0;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    @media (max-width: $breakpoint-tablet) {
      display: flex;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding: 1.5rem 1rem;
      &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
      }
    }
  }
  &__item {
    padding: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1),
      0 10px 10px 0 rgba(0, 0, 0, 0.09), 0 22px 13px 0 rgba(0, 0, 0, 0.05),
      0 38px 15px 0 rgba(0, 0, 0, 0.01), 0 60px 17px 0 rgba(0, 0, 0, 0);
    background: url(../img/arrow.svg) bottom right no-repeat #efefef;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-position: right 2rem bottom 2rem;
    height: 13.2rem;
    @media (max-width: $breakpoint-tablet) {
      width: 20.8rem;
      flex: none;
      height: 11.2rem;
      padding: 1.6rem;
      gap: 0.8rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1),
        0 10px 10px 0 rgba(0, 0, 0, 0.09);
    }
  }
  &__img {
    display: block;
    flex: none;
    @media (max-width: $breakpoint-tablet) {
      max-width: 4.8rem;
      max-height: 4.8rem;
    }
  }
  &__name {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 110%;
    font-family: $font-second;
    max-width: 14rem;

    @media (max-width: $breakpoint-tablet) {
      font-size: 1.4rem;
    }
  }
}
.section-collections {
  margin-bottom: 6rem;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 3rem;
  }
  &__title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 110%;
    letter-spacing: 0.02em;
    font-family: $font-second;
    margin-bottom: 4rem;
    max-width: 106.5rem;
    @media (max-width: $breakpoint-tablet) {
      font-size: 2rem;
      margin-bottom: 2rem;
      line-height: 128%;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-rows: 60rem;
    @media (max-width: 1200px) {
      grid-auto-rows: 40rem;
    }
    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 25rem;
      gap: 0.8rem;
    }
    @media (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    position: relative;
    &_big {
      grid-row: span 2;
      @media (max-width: $breakpoint-tablet) {
        grid-row: span 1;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      @media (max-width: $breakpoint-tablet) {
        height: 20rem;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__desc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 3rem;
    @media (max-width: $breakpoint-tablet) {
      padding: 1.5rem 3rem;
      gap: 1rem;
    }
  }
  &__name {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    color: #fff;
    font-family: $font-second;
    @media (max-width: $breakpoint-tablet) {
      font-size: 2rem;
    }
  }
  &__button {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #f2f2f2;
    width: 21.5rem;
    height: 4rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    @include flexcc;
    @include tr;
    &:hover {
      background: #f2f2f2;
      color: $color-text-dark;
    }
    @media (max-width: $breakpoint-tablet) {
      width: 14rem;
      font-size: 1.2rem;
      border-width: 1px;
    }
  }
}
.section-actions {
  height: 44.9rem;
  width: 100%;
  @include bg-img;
  background-image: url(../img/actions-bg.jpg);
  margin-bottom: 2.4rem;
  padding-top: 18.5rem;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 3rem;
    height: 20rem;
    padding-top: 7rem;
  }
  @media (max-width: $breakpoint-mobile) {
    background-image: url(../img/actions-bg-mobile.jpg);
    background-size: contain;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    flex-direction: column;
  }
  &__title {
    font-weight: 400;
    font-size: 8rem;
    line-height: 100%;
    text-align: center;
    font-family: $font-second;
    @media (max-width: $breakpoint-tablet) {
      font-size: 2.4rem;
    }
  }
  &__button {
    height: 4rem;
    width: 21.5rem;
    @media (max-width: $breakpoint-tablet) {
      width: 14rem;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}
.section-catalog {
  margin-bottom: 5rem;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 3rem;
  }
  &__title {
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 120%;
    margin-bottom: 2.2rem;
    font-family: $font-second;
  }
  &__items {
  }
  &__item {
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    background: #fff;
    padding: 0.3rem;
    padding-bottom: 2rem;
    position: relative;
  }
}
.catalog {
  &__title {
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 120%;
    margin-bottom: 2.2rem;
    font-family: $font-second;
    @media (max-width: $breakpoint-tablet) {
      font-weight: 600;
      font-size: 2.4rem;
      margin-bottom: 0.6rem;
    }
  }

  &-slider__buttons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 3rem;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  &-slider__prev,
  &-slider__next {
    cursor: pointer;
    @include tr;
    &:hover {
      opacity: 0.7;
    }
  }

  &-slider {
    margin-left: -0.5rem;
    @media (max-width: $breakpoint-tablet) {
      padding-bottom: 1.5rem;
    }
    .swiper-slide {
      width: 39.5rem;
      @media (max-width: $breakpoint-tablet) {
        width: 25.3rem;
      }
    }
    & > .swiper-wrapper {
      padding: 0.5rem;
    }
    & > .swiper-pagination {
      display: none;
      @media (max-width: $breakpoint-tablet) {
        display: flex;
        bottom: 0;
        flex-wrap: wrap;
        gap: 0.3rem;
        justify-content: center;
        .swiper-pagination-bullet {
          background: #d9d9d9;
          width: 3rem;
          height: 0.2rem;
          border-radius: 0px;
          flex: none;
          &.swiper-pagination-bullet-active {
            background: #1f1f1f;
          }
        }
      }
    }
  }
  &-item {
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    background: #fff;
    padding: 0.3rem;
    padding-bottom: 2rem;
    position: relative;
    width: 39.5rem;
    @media (max-width: $breakpoint-tablet) {
      width: 25.3rem;
      padding: 0.4rem;
    }

    &__badge {
      display: inline-flex;
      backdrop-filter: blur(5.37rem);
      background: rgba(31, 31, 31, 0.1);
      padding: 0.5rem 1rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 140%;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      top: 2.2rem;
      left: 2.2rem;
      z-index: 5;
      @media (max-width: $breakpoint-tablet) {
        top: 1.2rem;
        left: 1.2rem;
        padding: 0.5rem;
        font-size: 1.2rem;
      }
    }
    &__favorite {
      @include wh(3rem);
      display: inline-flex;
      cursor: pointer;
      position: absolute;
      top: 2.2rem;
      right: 2.2rem;
      @include tr;
      z-index: 5;
      @include bg-img;
      background-size: 2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 16.875C10 16.875 2.1875 12.5 2.1875 7.18751C2.18766 6.24855 2.51301 5.33863 3.10824 4.61244C3.70347 3.88626 4.53183 3.38863 5.45249 3.20418C6.37315 3.01972 7.32928 3.15982 8.15832 3.60066C8.98736 4.04149 9.63814 4.75585 10 5.62227L9.99999 5.62228C10.3619 4.75585 11.0126 4.04149 11.8417 3.60066C12.6707 3.15983 13.6268 3.01973 14.5475 3.20418C15.4682 3.38863 16.2965 3.88625 16.8918 4.61244C17.487 5.33863 17.8123 6.24855 17.8125 7.18751C17.8125 12.5 10 16.875 10 16.875Z" stroke="white" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" /></svg>');
      border-radius: 100%;
      backdrop-filter: blur(5.37rem);
      background-color: rgba(31, 31, 31, 0.1);
      &:before {
      }
      @media (max-width: $breakpoint-tablet) {
        top: 1.2rem;
        right: 1.2rem;
      }

      &:hover,
      &.active {
        background-image: url('data:image/svg+xml,<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.774 17.8018C10.774 17.8018 2.96146 13.4268 2.96146 8.11426C2.96162 7.17531 3.28697 6.26538 3.88219 5.5392C4.47742 4.81301 5.30579 4.31539 6.22645 4.13094C7.14711 3.94648 8.10324 4.08658 8.93228 4.52741C9.76132 4.96825 10.4121 5.6826 10.774 6.54903L10.7739 6.54904C11.1358 5.68261 11.7866 4.96825 12.6156 4.52742C13.4447 4.08658 14.4008 3.94648 15.3215 4.13094C16.2421 4.31539 17.0705 4.81301 17.6657 5.5392C18.2609 6.26538 18.5863 7.17531 18.5865 8.11426C18.5865 13.4268 10.774 17.8018 10.774 17.8018Z" fill="%231F1F1F" stroke="%231F1F1F" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" /></svg>');
      }
    }
    &__fast-view {
      backdrop-filter: blur(53.70000076293945px);
      background: rgba(0, 0, 0, 0.1);
      @include flexcc;
      width: 18rem;
      height: 3.8rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 143%;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 18rem;
      left: 50%;
      margin-left: -9rem;
      z-index: 5;
      opacity: 0;
      @include tr;
      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }
    &:hover .catalog-item__fast-view {
      opacity: 1;
    }
    &__desc {
      padding-top: 2rem;
      padding-left: 1.1rem;
      padding-right: 1.1rem;
      @media (max-width: $breakpoint-tablet) {
        padding: 0;
        padding-top: 1rem;
      }
    }
    &__name {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 140%;
      text-transform: uppercase;
      color: #000;
      display: block;
      min-height: 5.1rem;
      margin-bottom: 1rem;
      @include tr;
      font-family: $font-second;
      &:hover {
        text-decoration: underline;
      }
      @media (max-width: $breakpoint-tablet) {
        font-size: 1.4rem;
        min-height: 4rem;
      }
    }
    &__img {
      & > .swiper-wrapper {
        padding-bottom: 2rem;
      }
      &-inner {
        height: 39.9rem;
        overflow: hidden;
        width: 100%;
        @media (max-width: $breakpoint-tablet) {
          height: 18rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include tr;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .swiper-pagination {
        bottom: -0.4rem;
        @media (max-width: $breakpoint-tablet) {
          bottom: -0.5rem;
        }

        .swiper-pagination-bullet {
          background: #d9d9d9;
          width: 3rem;
          height: 0.2rem;
          border-radius: 0px;
          &.swiper-pagination-bullet-active {
            background: #1f1f1f;
          }
        }
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__prices {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      @media (max-width: $breakpoint-mobile) {
        flex-direction: row;
        align-items: flex-end;
      }
    }
    &__price {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 143%;
      font-family: $font-second;
      @media (max-width: $breakpoint-tablet) {
        font-size: 1.2rem;
      }
    }
    &__old-price {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 125%;
      text-decoration: line-through;
      font-family: $font-second;
    }
  }
}
.section-bonuses {
  height: 44.9rem;

  background-image: url(../img/bonuses-bg.jpg);
  @include bg-img;
  padding-top: 12.5rem;
  position: relative;
  margin-bottom: 6rem;
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 3rem;
    padding-top: 2rem;
    height: 20rem;
    background-image: url(../img/bonuses-bg-mobile.jpg);
  }
  &__link {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-top: -4rem;
    margin-left: -4rem;
    @include tr;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
    svg {
      display: block;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (max-width: $breakpoint-tablet) {
      padding-left: 1.6rem;
      gap: 1.5rem;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 111%;
    color: #fff;
    font-family: $font-second;
    @media (max-width: $breakpoint-tablet) {
      font-size: 2.2rem;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 128%;
    color: #fff;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.8rem;
    }
  }
  &__button {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #f2f2f2;
    width: 21.5rem;
    height: 4rem;
    @media (max-width: $breakpoint-tablet) {
      width: 14rem;
      border: 2px solid #f2f2f2;
      font-size: 1.2rem;
    }
  }
}
.section-ideas {
  margin-bottom: 3rem;
  &__top {
    padding-bottom: 2.1rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid #1f1f1f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
    color: #1f1f1f;
    font-family: $font-second;
    @media (max-width: $breakpoint-tablet) {
      font-size: 2rem;
      margin-bottom: 0.9rem;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 2rem;
    line-height: 128%;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.4rem;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 2rem;
    line-height: 128%;
    color: #1f1f1f;
    font-family: $font-third;
    @include tr;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 51rem;
    @media (max-width: $breakpoint-tablet) {
      width: 25.2rem;
    }
  }
  .section-ideas-slider__buttons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 3rem;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  .section-ideas-slider__prev,
  .section-ideas-slider__next {
    cursor: pointer;
    @include tr;
    &:hover {
      opacity: 0.7;
    }
  }
  &__slide {
    // padding-left: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    // flex-direction: row-reverse;
  }

  &__img {
    aspect-ratio: 1/1;
    max-width: 48rem;
    margin-left: -22.2rem;
    @media (max-width: $breakpoint-tablet) {
      max-width: 18rem;
      margin-left: -9rem;
    }
  }
  &__block {
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.4);
    padding: 1.8rem 2.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    width: 25.1rem;
    @media (max-width: $breakpoint-tablet) {
      width: 16.3rem;
      padding: 1.6rem;
      padding-right: 1rem;
      gap: 1rem;
    }
  }
  &__name {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 128%;
    font-family: $font-second;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.6rem;
    }
  }
  &__button {
    backdrop-filter: blur(4rem);
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #1f1f1f;
    padding: 0rem 3.8rem;
    width: 15rem;
    height: 4.2rem;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.2rem;
      border: 2px solid #1f1f1f;
      width: 10.4rem;
      height: 2.8rem;
    }
  }
}
.section-years {
  position: relative;
  padding-left: 4rem;
  padding-top: 2.6rem;
  @media (max-width: $breakpoint-tablet) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 4rem;
    width: calc(100% - 8rem);
    border-top: 1px solid #1f1f1f;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    gap: 17.5rem;
    padding: 4.6rem;
    @media (max-width: 1440px) {
      gap: 5rem;
    }
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column-reverse;
      gap: 3rem;
      padding: 1.5rem 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: #efefef;
      width: 77rem;
      z-index: -1;
      @media (max-width: $breakpoint-tablet) {
        width: 50%;
        height: 27rem;
        right: -1.5rem;
      }
      @media (max-width: $breakpoint-mobile) {
        width: 25.3rem;
        height: 21.8rem;
      }
    }
  }
  &__left {
    max-width: 57.2rem;
    @media (max-width: $breakpoint-tablet) {
      max-width: 100%;
    }
  }
  &__right {
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 128%;
    color: #1f1f1f;
    font-family: $font-third;
    p {
      margin-bottom: 1em;
    }
  }
  &__video {
    width: 80rem;
    height: 47.5rem;
    display: block;
    @include tr;
    overflow: hidden;
    position: relative;
    @media (max-width: 1200px) {
      width: 60rem;
    }
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      height: 23.7rem;
    }
    @media (max-width: $breakpoint-mobile) {
      height: 18.6rem;
    }
    &:before {
      content: '';
      display: block;
      width: 9.4rem;
      height: 9rem;
      background-image: url('data:image/svg+xml,<svg width="95" height="91" viewBox="0 0 95 91" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M35.0642 26.3396C36.4432 25.5837 38.1531 25.4607 39.5136 26.4099L65.9896 41.8787C67.295 42.6521 68.104 44.0056 68.104 45.4822C68.104 46.9587 67.295 48.3123 65.9896 49.0857L39.5136 64.5544C38.1531 65.3455 36.4432 65.3806 35.0642 64.6248C33.6669 63.8865 32.8027 62.4802 32.8027 60.9509V29.8552C32.8027 28.4841 33.6669 27.0779 35.0642 26.3396ZM94.58 45.4822C94.58 70.3376 73.5095 90.4822 47.5116 90.4822C21.5137 90.4822 0.443207 70.3376 0.443207 45.4822C0.443207 20.6267 21.5137 0.482178 47.5116 0.482178C73.5095 0.482178 94.58 20.6267 94.58 45.4822ZM47.5116 8.91968C26.386 8.91968 9.26853 25.2849 9.26853 45.4822C9.26853 65.6794 26.386 82.0447 47.5116 82.0447C68.6372 82.0447 85.7546 65.6794 85.7546 45.4822C85.7546 25.2849 68.6372 8.91968 47.5116 8.91968Z" fill="%237D7D7D" /></svg>');
      @include bg-img;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -4.7rem;
      margin-left: -4.5rem;
      @include tr;
      @media (max-width: $breakpoint-tablet) {
        width: 3rem;
        height: 3rem;
        margin-top: -1.5rem;
        margin-left: -1.5rem;
      }
    }
    &:hover:before {
      opacity: 0.8;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__history {
    gap: 5.2rem;
    position: relative;
    padding-left: 80rem;
    @media (max-width: 1200px) {
      padding-left: 60rem;
    }
    @media (max-width: $breakpoint-tablet) {
      padding-left: 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
  &__img {
    max-width: 74rem;
    position: absolute;
    left: 0;
    top: 0;
    @media (max-width: 1200px) {
      max-width: 54rem;
    }
    @media (max-width: $breakpoint-tablet) {
      position: static;
      max-width: 100%;
      padding-right: 1.5rem;
    }
  }
  &__slider {
    width: calc(100vw - 88rem);
    padding-top: 5rem;
    @media (max-width: 1200px) {
      width: calc(100vw - 68rem);
    }
    @media (max-width: $breakpoint-tablet) {
      padding-top: 0;
      width: calc(100vw - 3rem);
    }
  }
  &__slide-year {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
    font-family: $font-second;
    margin-bottom: 5rem;
    @media (max-width: $breakpoint-tablet) {
      font-size: 3.2rem;
      margin-bottom: 3rem;
    }
  }
  &__slide-text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 128%;
    @media (max-width: $breakpoint-tablet) {
      font-size: 1.4rem;
    }
  }
  &__slide-dot {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #1f1f1f;
    border-radius: 50%;
    position: relative;
    margin-bottom: 5rem;
    background: #fff;
    &:before {
      content: '';
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      background: #1f1f1f;
      top: 0.5rem;
      left: 0.5rem;
      position: absolute;
    }
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 3rem;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    // width: 44rem;
    padding-left: 5rem;
    @include tr;
    &:not(.swiper-slide-active) {
      opacity: 0.2;
      &:hover {
        opacity: 1;
      }
    }
    @media (max-width: $breakpoint-tablet) {
      padding-left: 0;
      width: 25.3rem;
    }
  }
  .section-years-slider__buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10rem;
    left: 0;
    z-index: 1;
    width: 100%;
    &:before {
      content: '';
      width: 100%;
      position: absolute;
      top: 2rem;
      left: 0;
      border-top: 1px solid $color-text-dark;
      z-index: -1;
    }
    @media (max-width: $breakpoint-tablet) {
      top: 6rem;
    }
  }
  .section-years-slider__prev,
  .section-years-slider__next {
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 4.1rem;
    height: 4.1rem;
    svg {
      max-width: 100%;
      height: auto;
    }
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
