.popup {
  background: none;
  max-width: 62rem;
  display: none;
}
.popup-video {
  display: none;
  max-width: 93rem;
  background: none;
  padding: 0;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  .f-button.is-close-btn {
    top: 0;
  }
  &__mobile {
    display: none;
    @media (max-width: $breakpoint-mobile) {
      display: block;
    }
  }
  &__desktop {
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
  &__desc {
    padding: 3rem;
    @media (max-width: $breakpoint-mobile) {
      padding: 3.2rem 1.6rem;
    }
  }
  &__name {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
    font-family: $font-second;
    margin-bottom: 1rem;
    @media (max-width: $breakpoint-mobile) {
      font-size: 2rem;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 128%;
    @media (max-width: $breakpoint-mobile) {
      font-size: 1.4rem;
    }
  }
}
// .fancybox__backdrop {
//   // background: $color-text-dark;
//   // opacity: 0.3;
// }
.card-popup {
  background: none;
  display: none;
  max-width: 121.4rem;
  padding: 0;
  &.fancybox__content{
    >.f-button.is-close-btn{
      top: -46px;
      right: -9px;
      opacity: 1;
      --f-button-color:#fff;
    }
  }
  &__inner {
    padding: 2rem;
    padding-bottom: 3rem;
    background: #fff;
    display: grid;
    grid-template-columns: 56.9rem auto;
    gap: 3.2rem;
    @media (max-width: $breakpoint-mobile) {
      display:block;
    }
  }
  &__name {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    font-family: $font-second;
  }
  &__prices {
    margin-bottom: 2.6rem;
    gap: 1.9rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  &__old-price {
    font-family: $font-second;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
  }
  &__price {
    font-family: $font-second;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 62%;
  }
  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
    @media (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
    .button {
      width: 100%;
    }
  }
  &__params {
    margin-bottom: 3rem;
    font-family: $font-third;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 125%;
    &-title {
      margin-bottom: 2rem;
    }
    &-block {
      display: grid;
      grid-template-columns: 39% 59%;
      gap: 2%;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      @media (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
        gap: 1rem;
      }
    }
    &-name {
      color: #b5b3b3;
    }
  }
  &-slider{
    &__prev{
      cursor:pointer;
      position: absolute;
      z-index: 2;
      left: 2rem;
      top: 50%;
      margin-top: -2rem;
      padding: 0;
      background: none;
      @include tr;
      &:hover {
        opacity: 0.7;
      }
    }
    &__next{
      cursor:pointer;
      position: absolute;
      z-index: 2;
      right: 2rem;
      top: 50%;
      margin-top: -2rem;
      padding: 0;
      background: none;
      @include tr;
      &:hover {
        opacity: 0.7;
      }
    }
    .swiper-pagination{
      margin-top: 2.7rem;
      display:flex;
      justify-content: center;
      align-items:center;
      flex-wrap:wrap;
      gap:0.5rem;
      position: static;
    }
    .swiper-pagination-bullet {
      margin:0 !important;
      padding:0;
      @include wh(0.8rem);
      border-radius:50%;
      border:1px solid #B5B3B3;
      background: #fff;
      @include tr;
      opacity: 1;
      &:hover, &.swiper-pagination-bullet-active{
        background: #1F1F1F;
        border-color:#1F1F1F;
      }
    }
  }
}
