// $fa-font-path: "../webfonts";
// $font: 'Montserrat', sans-serif;
$font-first: 'Gotham Pro';
$font-second: 'STIX Two Text', sans-serif;
$font-third: 'Nunito Sans', sans-serif;
$color-text-dark: #1f1f1f;
$color-text-light: #ffffff;
// $color-primary: #d18250;
$color-accent: #00afd6;

// $color-second: #2383f7;
// $color-link: #2c2b3c;

// $primary-color: #f8bbd0 !default;
// $accent-color

// $color-border: #eff0f1;

// $color-input-border: #e4e6e9;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;
